@use '../abstracts' as abstract;
@use '../mixins' as mixin;
footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: #42413a;
    // background-color: mixin.m-get-key(abstract.$s-colours, dark-grey);
    color: mixin.m-get-key(abstract.$s-colours, white);
    height: 100%;
    border-top: 3px solid #f28b00;
    margin: 10px 0px;
    
    @include mixin.m-respond-to(medium, abstract.$s-breakpoints) {
        display: flex;
    }

    a {
        color: mixin.m-get-key(abstract.$s-colours, white);
        text-decoration: none;
    }

    div {
        flex: 1 1 auto;
    }

    .leftFooter {
        display: none;
        align-self: center;
        padding: 0.8*20px;
        font-size: 0.8*15px;
        text-align: left;

        @include mixin.m-respond-to(medium, abstract.$s-breakpoints) {
            display: flex;
        }

        @include mixin.m-respond-to(small-max, abstract.$s-breakpoints) {
            padding: 10px;
        }

        .arthaus-icon {
            box-sizing: border-box;
            margin-right: 0.8*20px;
            flex: 0 0 0.8*60px;
            background: url(../images/footer/Arthaus-Logo-Badge.png) top center no-repeat;
            background-size: cover;
            height: 48px;
            min-width: 40px;
        }
    }

    .rightFooter {
        display: flex;
        align-self: center;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0.8*20px;

        @include mixin.m-respond-to(medium, abstract.$s-breakpoints) {
            align-items: flex-end;
        }

        @include mixin.m-respond-to(small-max, abstract.$s-breakpoints) {
            padding: 10px;
        }

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .arthaus-social {

            ul {

                li {
                    padding: 0 0.8*10px;
                    cursor: pointer;
                    font-size: 0.8*14px;

                    &:last-of-type {
                        padding: 0 0 0 0.8*10px;
                    }
                }
            }
        }

        .arthaus-terms {
            padding-top: 0.8*5px;
            font-size: 0.8*15px;

            ul {

                li {
                    padding: 0 0 0 0.8*10px !important;

                    &:last-of-type {
                        padding: 0;
                    }
                }
            }
        }

        @media (max-width: 759px) {
            .arthaus-terms {
                padding-top: 5px;
                font-size: 12px;
            }
        }
        
        .footer-social-icon {
            max-width: 20px;
            max-height: 20px;
        }

        .arthaus-copyright {
            padding-top: 0.8*5px;
            font-size: 0.8*11px !important;
        }
    }
}
