@use '../abstracts' as abstract;
@use '../mixins'as mixin;

main {
    .homepage-grid {
        display: grid;
        
        @media (min-width: 1240px) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(8, 112px);
            column-gap: 16px;
            row-gap: 16px;
        }
        
        @media (max-width: 1239px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(14, 140px);
            column-gap: 20px;
            row-gap: 20px;
        }
        
        @media (max-width: 759px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(20, 85px);
            column-gap: 10px;
            row-gap: 10px;
        }
        
        .block {
            
            background-position: center;
            background-size: 100% 100%;
            
            .content {
                display: flex;
                flex-direction: row;
                position: relative;
                box-sizing: border-box;
                min-height: 100%;
                
                color: rgb(255, 255, 255);
                
                @media (min-width: 760px) {
                    padding: 16px;
                }
                
                @media (max-width: 759px) {
                    padding: 10px;
                }
                
                a {
                    background: #fff;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    z-index: 2; 
                }
                
                h1 {
                    margin: 0;
                    
                    @media (min-width: 760px) {
                        font-size: 17.6px;
                    }
                
                    @media (max-width: 759px) {
                        font-size: 16px;
                    }
                }
                
//                h2 {
//                    margin: 0;
//                    
//                    @media (min-width: 760px) {
//                        font-size: 17.6px;
//                    }
//                
//                    @media (max-width: 759px) {
//                        font-size: 16px;
//                    }
//                }
                
                .bottom {
                    flex: 1;
                    align-self: flex-end;
                }
                
                .plus-icon {
                    position: absolute;
                    bottom: 16px;
                    right: 16px;
                    opacity: .5;
                    font-size: 4em;
                    margin-bottom: -2.4px;
                }
                
                
                
            }
            
            &.b-1 {
                background: mixin.m-get-key(abstract.$s-colours, orange);
                grid-column: 1 / 3;
            }
            
            &.b-2 {
                background-color: mixin.m-get-key(abstract.$s-colours, maroon); 
                background-image: url("https://firebasestorage.googleapis.com/v0/b/arthaus-website-social-post.appspot.com/o/socialPost%2FpostImg8.png?alt=media&token=6bb2bc30-1027-4e13-998f-6a9844860577");
                @media (min-width: 1240px) {
                    grid-column: 3 / 4;
                    grid-row: 3 / 5;
                }

                @media (max-width: 1239px) {
                    grid-column: 3 / 4;
                    grid-row: 1 / 3;
                }

                @media (max-width: 759px) {
                    grid-column: 1 / 2;
                    grid-row: 4 / 6;
                }
            }
        } 
    }
}
