//@forward '../abstracts/mixins' as mixin.m-*;
//@use '../abstracts/settings' as s;
@use '../abstracts' as abstract;
@use '../mixins' as mixin;

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
    font-family: "LatoWebLight";
    font-size: 62.5%;
}

.strong {
    font-weight: bold !important;
    color: #525252;
}

header {
    /* Navigation text */
    nav {
        .desktop-menu {
            a {
                font-family: "LatoWebLight";
                color: mixin.m-get-key(abstract.$s-colours, dark-grey);
                font-size: 0.8*15px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;

                &.highlight {
                    padding-bottom: 0.8*4px;
                    border-bottom: 0.8*4px solid mixin.m-get-key(abstract.$s-colours, orange);

                    &:hover {
                        color: mixin.m-get-key(abstract.$s-colours, dark-grey);
                    }
                }

                &:hover {
                    padding-bottom: 0.8*4px;
                    border-bottom: 0.8*4px solid mixin.m-get-key(abstract.$s-colours, orange);
                }
            }

            .active {
                padding-bottom: 0.8*4px;
                border-bottom: 0.8*4px solid mixin.m-get-key(abstract.$s-colours, orange);
            }
        }
        ul {
            li {
                a:not(.home-link) {
                    font-family: "LatoWebLight";
                    color: mixin.m-get-key(abstract.$s-colours, dark-grey);
                    font-size: 0.8*15px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 700;

                    &.highlight {
                        padding-bottom: 0.8*4px;
                        border-bottom: 0.8*4px solid mixin.m-get-key(abstract.$s-colours, orange);

                        &:hover {
                            color: mixin.m-get-key(abstract.$s-colours, dark-grey);
                        }
                    }

                    &:hover {
                        padding-bottom: 0.8*4px;
                        border-bottom: 0.8*4px solid mixin.m-get-key(abstract.$s-colours, orange);
                    }
                }

                .active {
                    padding-bottom: 0.8*4px;
                    border-bottom: 0.8*4px solid mixin.m-get-key(abstract.$s-colours, orange);
                }
            }
        }
    }
}

/* Footer text */
footer {
    color: mixin.m-get-key(abstract.$s-colours, white);
    font-size: 0.8*1.3em;

    a {
        color: mixin.m-get-key(abstract.$s-colours, white);
        text-decoration: none;

        &:hover {
            color: #f28b00;
        }
    }

    .arthaus-copyright {
        font-size: 0.8*1.1em;
    }

    .arthaus-social {
        ul {
            li {
                a {
                    font-size: 0.8*2.2em;
                }
            }
        }
    }
}